@import url('https://fonts.cdnfonts.com/css/snell-roundhand');

.aantal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 5vw;
}

.aantal1,
.aantal2 {
  margin-bottom: 10px;
}

p {
  color: #4c84ff;
  margin: 0;
}

div{
  margin-bottom: 5vw;

}

h1{
  text-align: center;
}

@media screen and (min-width: 768px) {
  .aantal {
    width: 40vw;
    font-size: 1.5vw;
  }
}
